body {
    padding: 0;
    margin: 0;
    background-image: url("/images/background.jpg");
    color: white;
}

.container {
    width: 100%;
    height: 100%;
}

#uno-title {
    font-family: 'Pacifico', cursive;
    display: block;
    text-align: center;
    font-size: 80px;
    margin: 40px;
}

input:focus {
    outline: none;
}

#screen2 {
    display: none;
}

#main-game {
    display: none;
}

#post-game {
    display: none;
}

#call-uno-button, #challenge-uno-button, #play-again-button {
    display: none;
}

.card {
    width: 40px;
    height: 60px;
}